<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset=utf-8" />
		<title>Emily's Cootie Catcher</title>
		<link rel="stylesheet" type="text/css" href="css/cootie.css">
		<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,200,700,400" rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="shortcut icon" href="images/favicon.png"/>
	</head>

	<body>
		<div id="borderWrapper">
			<div id="wrapper">
				<header>
					<p style="font-size:14em; color:#f88379; text-align:center; font-weight:400; text-shadow: -3px 3px 6px #7d7d7d; margin:0em">
					EMILY<span style="color:#575757">MOLINA</span>
					</p>
				</header>
				
				<nav>
				</nav>
				
				<main>
				
				
					<h1>Cootie Catcher</h1>
					<h2>Let's Play! Click a color below to begin.</h2>
				
					<div id="catcher">
						<div class="turquoise" ng-show="questionNumber == 0" ng-mouseover="inc(10)"><p>Turquoise</p></div>
						<div class="fuchsia" ng-click="questionNumber = questionNumber + 1"><p>Fuchsia</p></div>
						<div class="green" ng-mouseover=""><p>Green</p></div>
						<div class="yellow" ng-click="questionNumber = questionNumber - 1"><p>Yellow</p></div>
					</div>
					<div id="main">
					
						<h2 id="quit"></h2>
						<h2 id="letter"></h2>
						<h2 id="countUp"></h2>
						<h2 id="welcome"></h2>
						<h2 id="final"></h2>
						<h3 id="end"></h3>
					
						<!--<script src="js/cootieCatcher.js"></script>-->
						<center><button id='startGame'>Start Game</button></center>
						<script type="text/javascript">

						var startGame = document.getElementById('startGame');

						startGame.onclick = function(){

							var script = document.createElement("script");
							script.type = "text/javascript";
							script.src = "js/cootieCatcher.js"; 
							document.getElementsByTagName("head")[0].appendChild(script);
							return false;

						}
						
						</script>
						<script type="text/javascript" src="js/lib/angular.min.js"></script>
					</div><br>
				</main>
				
				<footer>
				</footer>
			</div>
		</div>
	</body>
	<footer>
		<a href="index.html">HOME</a>
	</footer>
		
</html>